<!DOCTYPE html>
<html>
<head>
    <title>Cagnotte</title>
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
<form id="app">
    Nom <input type="text" v-model="participant">
    à payé <input type="number" v-model="prix">
    <ul>
        <li>
            <p>Nom | Payer | dois | reçois</p>
        </li>
        <li v-for="user in users">
            <p>{{user.participant}} | {{user.prix}}€ | {{user.donne}}€ | {{user.recois}}€</p>
        </li>
        <li>
            <p>total: {{total}} €</p>
        </li>
    </ul>
    <input type="button" value="Valider" @click="add_user();calc()">
</form>
<script>
    const app = new Vue({
        el: "#app",
        data: {
            users: [],
            participant: "",
            prix: "",
            total: 0
        },
        computed: {},
        methods: {
            add_user: function () {
                var participant = this.participant;
                var prix = this.prix;
                this.users.push(new user(participant, prix));
            },
            calc: function () {
                this.total = 0;
                for (i = 0; i < this.users.length; i++) {
                  this.total += parseInt(this.users[i].prix);
                }
                this.moyenne = this.total / this.users.length;
                    console.log("m: " + this.moyenne)
                for (i = 0; i < this.users.length; i++){
                    if (this.users[i].prix > this.moyenne) {
                        this.users[i].recois = this.users[i].prix - this.moyenne;
                        this.users[i].donne = 0;
                    }
                    if (this.users[i].prix < this.moyenne) {
                        this.users[i].donne = this.moyenne - this.users[i].prix;
                        this.users[i].recois = 0;
                    }
                }
            }
        }
    });

    class user {
        constructor(participant, prix) {
            this.participant = participant;
            this.prix = prix;
            this.donne = 0;
            this.recois = 0;
        }
    }

</script>
</body>
</html>
